<div class="navbar-freddy position-fixed-top">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-freddy-brand" do %>
    <%= image_tag "logo.png", height: 50 %>
  <% end %>

  <div class="navbar-freddy-navigation">
    <!-- Add links here if needed -->
  </div>
</div>

